/* body {
    --color-bg: #e5f3fd;
    --color-bg-secondary: #ffffff;
    --color-text: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-text);
    background-color: var(--color-bg);
} */